 @media(max-width: 79rem ){  /* 1268 / 16 = 79.25 */
    html{
        font-size: 60%; /* 55/100 *16 = 9.6rem */
    }


    .hero-section {
    .cta-btn {
        font-size: var(--font-size-sm);
        padding: 1rem 0.5rem;
    }
}
 }


 @media(max-width: 68rem ){  /* 1092 / 16 = 68.25 */
    html{
        font-size: 55%; /* 50/100 *16 = 8rem */
    }


    .hero-section {
    .cta-btn {
        font-size: var(--font-size-sm);
        padding: 1rem 0.5rem;
    }
}
 }

 @media(max-width: 63rem ){  /* 1003/ 16 = 62.67 */
    html{
        font-size: 45%; /* 45/100 *16 = 7.2rem */
    }


    .hero-section {
    .cta-btn {
        font-size: var(--font-size-sm);
        padding: 1rem 0.5rem;
    }
}
 }


 @media(max-width: 56rem ){  /* 900/ 16 = 56.25 */
    html{
        font-size: 40%; /* 40/100 *16 = 6.4rem */
    }


    .hero-section {
    .cta-btn {
        font-size: var(--font-size-sm);
        padding: 1rem 0.5rem;
    }
}
 }

 @media(max-width: 56rem ){  /* 803/ 16 = 50.18 */
    html{
        font-size: 35%; /* 35/100 *16 = 5.6rem */
    }


    .hero-section {
    .cta-btn {
        font-size: var(--font-size-sm);
        padding: 1rem 0.5rem;
    }
}
 }

 @media(max-width: 46rem ){  /* 739/ 16 = 46.19 */
    html{
        font-size: 35%; /* 35/100 *16 = 4.8rem */
    }


    .hero-section {
        .cta-btn {
            font-size: var(--font-size-sm);
            padding: 1rem 0.5rem;
        }
    }
    .features-container {
        .features-section{
            grid-template-columns: repeat(2, 40rem);
            gap: 10rem;
    }
}

}


 @media(max-width: 45rem ){  /* 716/ 16 = 44.75*/
    html{
        font-size: 33%; /* 33/100 *16 = 5.3rem */
    }


    .hero-section {
        .cta-btn {
            font-size: var(--font-size-sm);
            padding: 1rem 0.5rem;
        }
    }
    .features-container {
        .features-section{
            grid-template-columns: repeat(2, 40rem);
            gap: 10rem;
    }
}

}

@media(max-width: 41rem ){  /* 650/ 16 = 40.62*/
    html{
        font-size: 30%; /* 30/100 *16 = 4.8rem */
    }


    .hero-section {
        .cta-btn {
            font-size: var(--font-size-sm);
            padding: 1rem 0.5rem;
        }
    }
    .features-container {
        .features-section{
            grid-template-columns: repeat(2, 40rem);
            gap: 10rem;
    }
}

}

@media(max-width: 41rem ){  /* 604/ 16 = 37.75*/
    html{
        font-size: 28%; /* 28/100 *16 = 4.5rem */
    }


    .hero-section {
        .cta-btn {
            font-size: var(--font-size-sm);
            padding: 1rem 0.5rem;
        }
    }
    .features-container {
        .features-section{
            grid-template-columns: repeat(1, 70rem);
            justify-content: center;
            gap: 45rem;
            margin-bottom: 30rem;
    }
}

}

@media(max-width: 36rem ){  /* 566/ 16 = 35.38*/
    html{
        font-size: 23%; /* 23/100 *16 = 3.68rem */
    }


    .hero-section {
        .cta-btn {
            font-size: var(--font-size-sm);
            padding: 1rem 0.5rem;
        }
    }
    .features-container {
        .features-section{
            grid-template-columns: repeat(1, 70rem);
            justify-content: center;
            gap: 45rem;
            margin-bottom: 30rem;
    }
}

}

@media(max-width: 35rem ){  /* 562/ 16 = 35.37*/
    html{
        font-size: 25%; /* 25/100 *16 = 4rem */
    }


    .hero-section {
        .cta-btn {
            font-size: var(--font-size-sm);
            padding: 1rem 0.5rem;
        }
    }
    .features-container {
        .features-section{
            grid-template-columns: repeat(1, 70rem);
            justify-content: center;
            gap: 45rem;
            margin-bottom: 30rem;
    }
}

}

@media(max-width: 32rem ){  /* 500/ 16 = 31.25*/
    html{
        font-size: 21%; /* 21/100 *16 = 3.84rem */
    }


    .hero-section {
        .cta-btn {
            font-size: var(--font-size-sm);
            padding: 1rem 0.5rem;
        }
    }
    .features-container {
        .features-section{
            grid-template-columns: repeat(1, 70rem);
            justify-content: center;
            gap: 45rem;
            margin-bottom: 30rem;
    }
}

}

@media(max-width: 32rem ){  /* 421/ 16 = 26.31*/
    html{
        font-size: 21%; /* 15/100 *16 = 2.4rem */
    }


    .hero-section {
        .cta-btn {
            font-size: var(--font-size-sm);
            padding: 1rem 0.5rem;
        }
    }
    .features-container {
        .features-section{
            grid-template-columns: repeat(1, 80rem);
            justify-content: center;
            gap: 45rem;
            margin-bottom: 30rem;
    }
}

}


@media(max-width: 25rem ){  /* 375/ 16 = 23.43*/
    html{
        font-size: 25%; /* 10/100 *16 = 1.6rem */
    }
    
    .nav-links {
        font-size: var(--font-size-md);
    }
        

    .hero-section {
        display: grid;
        grid-template-columns: 70rem;
        justify-content: center;
        align-items: center;

        .hero-text {
            display: grid;
            grid-template-rows: 20rem 15rem 10rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 2rem;

            .hero-section-heading {
                font-size: var(--font-size-xxlg);
            }
            .hero-section-tagline {
                font-size: var(--font-size-lg);
            }

            .cta-btn {
                font-size: var(--font-size-md);
                padding: 1rem 0.5rem;
                align-self: center;
                justify-self: center;
                max-width: fit-content;
            }
        }
    }
    .hero-image-container img {
        display: none;
        }

    .features-container {
        
        .features-section{
            grid-template-columns: repeat(1, 80rem);
            justify-content: center;
            gap: 45rem;
            margin-bottom: 30rem;

            .features-section{
                .card-text {
                    font-size: var(--font-size-lg);
                }
                .card-heading {
                font-size: var(--font-size-xlg);
                }
                .price-quantity {
                    grid-template-columns: 20rem 20rem;
                    font-size: var(--font-size-lg);
                    height: 11rem;
                }
                 .card-price {
                    font-size: var(--font-size-xlg);
                 }
                  .card-buttons {
                    .quantity {
                    font-size: var(--font-size-xlg);
                }

                  }
                  .card-buttons img {
                    width: var(--font-size-xlg);
                
            }

            }
        }
    }
        
    .contact-form {
        max-width:100%;
         .contact-heading {
            font-size: var(--font-size-lg);
         }
         .form-title {
        font-size: 1.5em;
         }
    }

    .footer-links {
        font-size: var(--font-size-md);
    }
}
