/*

------------------ TYPOGRAPHY ----------------
FONT SIZES
scaling factor = 1.25
1rem (base)/ 1.3rem / 1.7rem / 2.2rem / 2.9rem /  3.7rem / 4.8rem / 6.3rem /

FONT WEIGHT
400/900

LINE HEIGHT
1.2/1.5

LETTER SPACING
0 / -1.90rem

WORD SPACING
0/ -1.2px

FONT FAMILY
Poppins

-------------------COLOURS--------------------
--------------------- DARK MODE --------------
PRIMARY
Base: #4f7942
Tint: #a7bca1
Shade: #2f4928

GRAY
Base: #0E2A30 (fire fly)
Tint: #879598
Shade: #040d0e

SECONDARY
Base: #F3E5AB (Wheat)
Tint: #fefcf7
Shade: ##7a7356

TERTIARY
Base: #D40000 (Guardsman Red)
Tint: #ee9999
Shade: #6a0000

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
--primary-colour:  #0E2A30;
--nav-bar-height: 15vh;
--link-colour: #F3E5AB;
--link-colour-hover: #fefcf7;
--secondary-colour: #4f7942;
--tertiary-colour: #ff3501;

/* --cta-button-color:; */

--font-size-xxsm: 1rem;
--font-size-xsm: 1.7rem;
--font-size-sm: 2.2rem;
--font-size-md: 2.9rem;
--font-size-lg: 3.7rem;
--font-size-xlg: 4.8rem;
--font-size-xxlg: 6.3rem;

--element-spacing-lg: 10rem;
--element-spacing-md: 6rem;
--element-spacing-sm: 3rem;

}

html{
    font-size: 62.5%;
}


body {
    max-width: 1500px;
    margin: 0 auto;
    font-family: "Poppins", Montserrat;
    color: #F5FFFA;
    background-color: #fff;
    padding: 0 0.5rem;
    position: relative;

}

.nav-bar {
    max-height: var(--nav-bar-height);
    background-color: var(--primary-colour);
    width: 99.3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top:0;
    bottom:0;
    z-index: 100;

    .homepage-logo {
        display: block;
        width: 7rem;
        height: auto;
    }
}

.nav-links {
    display: flex;
    gap: 4rem;
    list-style: none;
    align-items: center;
    font-size: var(--font-size-sm);   
        
    .nav-links li, a{
        color: var(--link-colour);
        text-decoration: none;
        transition: color 0.3s, filter 0.3s ease;
        padding: 0 1.5rem;  
    }
}
.nav-links a:hover {
        color: var(--link-colour-hover);
        transform: scale(0.5, 0.5);
        filter: drop-shadow(0.2rem -0.2rem 1rem #FFFD74);
}
.shopping-cart {
    position: relative;
}
.shopping-cart img{
    display: block;
    width: 3.35rem;
    height: auto;
}
    .shopping-cart .cart-count {
        color: var(--tertiary-colour);
        position: absolute;
        left: 3.3rem;
        bottom: 1.6rem;
        font-size: var(--font-size-sm)
    }


.hero-section {
    display: grid;
    grid-template-columns: 90rem 40rem;
    background-color: var(--secondary-colour);
    color: #F9F9F9;
    height: calc(70vh - var(--nav-bar-height));
    gap: 3rem;
    margin-top: 15vh;
    position: relative;
    right:0;
    left: 0;
    margin-bottom: var(--element-spacing-lg);

    
    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3rem;

        .hero-section-heading {
            font-size: var(--font-size-xxlg);
            margin-left: 3rem;
            line-height: 1.5;
        }
        
        .hero-section-tagline {
            font-size: var(--font-size-md);
            margin-left: 3rem;
            margin-bottom: 5rem;
            display: flex;
        }
        .cta-btn {
            font-size: var(--font-size-sm);
            max-width: 23rem;
            padding: 3rem 1.5rem;
            margin-left: 3rem;
            margin-bottom: 5rem;
            border-style: none;
            border-radius: 25%;
            color: var(--link-colour);
            background-color: var(--tertiary-colour);
            transition: transform 0.3s, filter 0.3s;
            position: absolute;
            bottom: -1.0rem;
            
        }   
        .cta-btn:hover {
            background-color: #fe6f5e;
            color: var(--link-colour-hover);
            transform: scale(1.2, 1.2);
            filter: drop-shadow(0.2rem -0.2rem 0.2rem #FFFD74);
}     
    }
}
.hero-section img {
    display: flex;
    width: 30%;
    opacity: 0.8;
    position: absolute;
    top: 5rem;
    right: 5.5rem;
    mix-blend-mode: screen;
    z-index: 3;
}

.features-container {
    /* background-color: #d8dee7; */
    max-width: 1200px;
    display: grid;
    margin: 0 auto;
    margin-bottom: var(--element-spacing-lg);

    .features-heading {
        font-size: var(--font-size-xlg);
        color: var(--primary-colour);
        text-align: center;
        padding: 4rem 2rem;
    }
    .features-section{
        display: grid;
        grid-template-columns: repeat(3, 38rem);
        align-items: center;
        gap: 8rem;

        .features-card {
            /* display: flex; */
            /* flex-direction: column; */
            /* background-color: var(--link-colour-hover); */
             max-height: 100rem;
            /* border: 0.5rem solid var(--secondary-colour); */
            /* padding: 0.5rem 0.5rem; */
    
            
            .card-image {
                width: 100%;
            }

            .card-text {
                 font-size: var(--font-size-md);
                 color: var(--secondary-colour);
                 border:  solid 0.3rem var(--primary-colour);
                 padding: 0 1rem;
                 padding-top: 2.2rem;
                 height: 22.5rem; /* set height by largest card text container */
                 line-height: 1.5;
                 
            }

            .card-heading {
                font-size: var(--font-size-lg);
                color: var(--secondary-colour);
                border:  solid 0.3rem var(--primary-colour);
                height: 8.96rem; /* set height by largest card heading container */
                padding: 0.5rem 1rem;
                text-align: center;
            }

            .price-quantity {
                 border:  solid 0.3rem var(--primary-colour);
                 display: grid;
                 grid-template-columns: 15rem 15rem;
                 font-size: var(--font-size-md);
                 justify-content: space-between;
                 padding: 3rem;

            }
            .card-price {
                
                color: var(--secondary-colour);
                font-size: var(--element-spacing-sm);
                /* text-align: center; */
            }
            .card-buttons {
                display: flex;
                justify-content: space-around;
                list-style: none;
                color: var(--tertiary-colour);
                }

            .card-buttons img {
                width: var(--font-size-md);
                
            }
                
            }
            
        }
    }

.contact-form {
    background-color: var(--primary-colour);
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-md);
    margin-bottom: var(--element-spacing-lg);


    .contact-heading {
        
        color: var(--link-colour);
        text-align: center;
        font-size: 1.3em;
    }

    fieldset {
        margin: 4em 0;
        padding: 1em 2em;
        border: solid 1px var(--link-colour);
        border-radius: 25%;
        min-width: 200px;
    }
    .form-title {
        font-size: 1em;
        padding: 0 0.25em;
        text-align: center;
    }
    .form-datum {
        display: block;
        margin-top: 1em;
    }
    
    .form-control {
        padding: 0.5em;
        color: green;
        border: solid 1px yellow;
        font-size: 0.6em;
    }
    .form-control {
            width: 40em;
        }
    #message {
        min-height: 8em;
        min-width: 100%;
    }
    
    .form-btn {
        padding: 0.5em 1em;
        border-radius: 6px;
        background-color: var(--secondary-colour);
        color:#fefcf7;
        font-size: 0.8em;

    }

}

.form-datum span {
    color: red;
}


.footer-navigation {
    height: 40vh;
    background-color: var(--primary-colour);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--element-spacing-md);
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    list-style: none;
    align-items: center;
    font-size: var(--font-size-sm);  

}

.social-media{
    display: flex;
    gap: 4rem;
    list-style: none;
    align-items: center;
    font-size: var(--font-size-sm);
}
.social-media li, a{
        color: var(--link-colour);
        text-decoration: none;
        list-style: none;
        transition: color 0.3s, filter 0.3s ease;
        padding: 0 1.5rem;
    }

.footer-links li, a{
    color: var(--link-colour);
    text-decoration: none;
    list-style: none;
    transition: color 0.3s, filter 0.3s ease;
    padding: 0 1.5rem;
}

.footer-links a:hover, .social-media a:hover {
        color: var(--link-colour-hover);
        transform: scale(0.5, 0.5);
        filter: drop-shadow(0.2rem -0.2rem 1rem #FFFD74);
}

.social-media .social-media-icon {
    width: 50px;
    height: 50px;

}

.footer-text {
    color: var(--secondary-colour);
    font-size: var(--font-size-sm);
    text-align: center;

}
