/*

------------------ TYPOGRAPHY ----------------
FONT SIZES
scaling factor = 1.25
1rem (base)/ 1.3rem / 1.7rem / 2.2rem / 2.9rem /  3.7rem / 4.8rem / 6.3rem /

FONT WEIGHT
400/900

LINE HEIGHT
1.7/1.5

LETTER SPACING
0 / -1.90rem

WORD SPACING
0/ -1.2px

FONT FAMILY
Poppins

-------------------COLOURS--------------------
--------------------- DARK MODE --------------
PRIMARY
Base: #4f7942
Tint: #a7bca1
Shade: #2f4928

GRAY
Base: #0E2A30 (fire fly)
Tint: #879598
Shade: #040d0e

SECONDARY
Base: #F3E5AB (Wheat)
Tint: #fefcf7
Shade: ##7a7356

TERTIARY
Base: #D40000 (Guardsman Red)
Tint: #ee9999
Shade: #6a0000

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
--primary-colour:  #0E2A30;
--nav-bar-height: 15vh;
--link-colour: #F3E5AB;
--link-colour-hover: #fefcf7;
--secondary-colour: #4f7942;
--tertiary-colour: #ff3501;

/* --cta-button-color:; */

--font-size-xxsm: 1rem;
--font-size-xsm: 1.7rem;
--font-size-sm: 2.2rem;
--font-size-md: 2.9rem;
--font-size-lg: 3.7rem;
--font-size-xlg: 4.8rem;
--font-size-xxlg: 6.3rem;

--element-spacing-lg: 30rem;
--element-spacing-md: 20rem;
--element-spacing-sm: 10rem;

}

html{
    font-size: 62.5%;
}


body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Poppins", Montserrat;
    color: #F5FFFA;
    padding: 0 0.5rem;
    position: relative;

}

.nav-bar {
    max-height: var(--nav-bar-height);
    background-color: var(--primary-colour);
    max-width: 1200px;
    width: 95.9%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top:0;
    bottom:0;
    z-index: 100;

    .homepage-logo {
        display: block;
        width: 7rem;
        height: auto;
    }
}

.nav-links {
    display: flex;
    gap: 4rem;
    list-style: none;
    align-items: center;
    font-size: var(--font-size-sm);   
        
    .nav-links li, a{
        color: var(--link-colour);
        text-decoration: none;
        transition: color 0.3s, filter 0.3s ease;
        padding: 0 1.5rem;  
    }
}
.nav-links a:hover {
        color: var(--link-colour-hover);
        transform: scale(0.5, 0.5);
        filter: drop-shadow(0.2rem -0.2rem 1rem #FFFD74);
}
.shopping-cart {
    position: relative;
}
.shopping-cart img{
    display: block;
    width: 3.35rem;
    height: auto;
}
    .shopping-cart .cart-count {
        color: var(--link-colour);
        background-color: var(--tertiary-colour);
        position: absolute;
        left: 3.3rem;
        bottom: 1.6rem;
        font-size: var(--font-size-sm);
        padding: 0.5rem
    }


.hero-section {
    display: grid;
    grid-template-columns: 60rem 60rem;
    width: 1200px;
    background-color: var(--secondary-colour);
    color: #F9F9F9;
    height: calc(53rem - var(--nav-bar-height));
    gap: 5rem;
    top: 15vh;
    position: relative;
    right:0;
    left: 0;
    margin-bottom: var(--element-spacing-lg);
    
    
    .hero-text {
        display: grid;
        grid-template-rows: 20rem 15rem 10rem;
        flex-direction: column;
        max-width: 60rem;
        position: relative;


        .hero-section-heading {
            font-size: var(--font-size-xxlg);
            margin-left: 3rem;
            line-height: 1.5;
            padding-left: 2rem;
            align-self: center;
            justify-self: center;
             color: var(--link-colour);

            .gradient-text{
                color: var(--link-colour);
            }
        }
        
        .hero-section-tagline {
            font-size: var(--font-size-md);
            margin-left: 3rem;
            padding-left: 3rem;
            line-height: 1.5;
            font-style: italic;
            align-self: center;
            justify-self: center;
            position: absolute;
            top: 18rem;
        }
        .cta-btn {
            font-size: var(--font-size-sm);
            max-width: 30rem;
            padding: 2rem 0.5rem;
            margin-left: 6rem;
            margin-bottom: 5rem;
            border-style: none;
            border-radius: 20%;
            color: var(--link-colour);
            background-color: var(--tertiary-colour);
            transition: transform 0.3s, filter 0.3s;
            position: absolute;
            top: 30rem;
            
        }   
        .cta-btn:hover {
            background-color: #fe6f5e;
            color: var(--link-colour-hover);
            transform: scale(1.2, 1.2);
            filter: drop-shadow(0.2rem -0.2rem 0.2rem #FFFD74);
            
}     
    }
}

.hero-image-container {
    max-width: 50rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    img {
        width: 95%;
        opacity: 0.6;
        mix-blend-mode: screen;
        position: absolute;
        top: 3rem;
        z-index: 3;

    }

}


.features-container {
    
    max-width: 1000px;
    display: grid;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: var(--element-spacing-lg);



    .features-heading {
        font-size: var(--font-size-xlg);
        color: var(--primary-colour);
        text-align: center;
        margin-bottom: var(--element-spacing-md);
        /* padding: 4rem 2rem; */
    }
    .features-section{
        display: grid;
        grid-template-columns: repeat(3, 36rem);
        align-items: center;
        gap: 3rem;
        margin-bottom: var(--element-spacing-sm);

        .features-card {
            /* display: flex; */
            /* flex-direction: column; */
            /* background-color: var(--link-colour-hover); */
             max-height: 100rem;
            /* border: 0.5rem solid var(--secondary-colour); */
            /* padding: 0.5rem 0.5rem; */
            
            .card-image {
                width: 100%;
            }

            .card-text {
                 font-size: var(--font-size-sm);
                 color: var(--secondary-colour);
                 border:  solid 0.3rem #a7bca1;
                 padding: 0 1rem;
                 padding-top: 2.2rem;
                 height: 18rem; /* set height by largest card text container */
                 line-height: 1.5;
                 
            }

            .card-heading {
                font-size: var(--font-size-md);
                color: var(--secondary-colour);
                border:  solid 0.3rem #a7bca1;
                height: 10rem; /* set height by largest card heading container */
                padding: 0.5rem 1rem;
                text-align: center;
            }

            .price-quantity {
                 border:  solid 0.3rem #a7bca1;
                 display: grid;
                 grid-template-columns: 10rem 10rem;
                 font-size: var(--font-size-xsm);
                 justify-content: space-between;
                 padding: 2rem;
                 height: 8rem; 

            }
            .card-price {
                
                color: var(--secondary-colour);
                font-size: var(--font-size-sm);
                /* text-align: center; */
            }
            .card-buttons {
                display: flex;
                justify-content: space-around;
                list-style: none;
                color: var(--tertiary-colour);

                .quantity {
                    font-size: var(--font-size-sm);
                }
                }

            .card-buttons img {
                width: var(--font-size-md);
                
            }
                
            }
            
        }
    }
/* reordering cards for sylistic reasons */

.groundnut-reorder {
    grid-row: 1 / 2;

}
.cooking-paste-reorder {
        grid-row: 2 / 3;
        grid-column: 2 / 3;   
}
.essential-oil-reorder {
    grid-row: 3/4;
    grid-column: 3/4; 
} 

.contact-form {
    background-color: var(--primary-colour);
    color: var(--link-colour);
    max-width:500px;
    margin: 0 auto;
    height: 700px;
    font-size: var(--font-size-sm);
    margin-bottom: var(--element-spacing-md);

    .contact-heading {
        /* color: var(--link-colour-hover); */
        text-align: center;
        font-size: var(--font-size-md);
        padding: 2rem 1rem;
    }

    fieldset {
        margin: 2em 0;
        padding: 1em 2em;
        min-width: 200px;
        
    }
    .form-title {
        font-size: 1.5em;
        padding: 0 0.25em;
        text-align: center;
        text-decoration: none;
       
    }
    .form-datum {
        display: block;
        margin-top: 1em;
        font-weight: 400;
    }
    
    .form-control {
        padding: 0.5em;
        color: green;
        font-size: 0.6em;
        width: 25em;
    }

    }
    #message {
        min-height: 10em;
        min-width: 100%;
        padding-bottom: 10em;
    }
    
    .btn-container {
        position: relative;

    }
    .form-btn {
        padding: 0.5em 1em;
        border-radius: 6px;
        background-color: var(--secondary-colour);
        color:#fefcf7;
        font-size: 0.8em;
        position: absolute;
        bottom: 0.5px;
        right: 10px;

    }



.form-datum span {
    color: red;
}

#success-alert {
    display: none;
    color:var(--tertiary-colour);
    background-color: var(--link-colour-hover);
    font-weight: 700;
}

.footer-navigation {
    height: 45vh;
    background-color: var(--primary-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    list-style: none;
    align-items: center;
    font-size: var(--font-size-sm);
    justify-content: center; 
    margin-bottom: 5rem;

}

.social-media{
    display: flex;
    gap: 4rem;
    list-style: none;
    align-items: center;
    font-size: var(--font-size-sm);
}
.social-media li, a{
        color: var(--link-colour);
        text-decoration: none;
        list-style: none;
        transition: color 0.3s, filter 0.3s ease;
        padding: 0 1.5rem;
    }

.footer-links li, a{
    color: var(--link-colour);
    text-decoration: none;
    list-style: none;
    transition: color 0.3s, filter 0.3s ease;
    padding: 0 1.5rem;
}

.footer-links a:hover, .social-media a:hover {
        color: var(--link-colour-hover);
        transform: scale(0.5, 0.5);
        filter: drop-shadow(0.2rem -0.2rem 1rem #FFFD74);
}

.social-media .social-media-icon {
    width: 3rem;
    /* height: 2rem; */

}

.footer-text {
    color: var(--secondary-colour);
    font-size: var(--font-size-sm);
    text-align: center;
    font-weight: 400;

}
